@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');
body {

    background: #4b6cb7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #182848, #4b6cb7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
}

a {
    font-family: 'Roboto', sans-serif;
    display: block;
    text-align: center;
    line-height: 1.2;
    color: white;
    padding: 0;
}
pre{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
    margin: 1rem auto 2rem 5rem;
    line-height: 1.2rem;
    color: white;
    background-color: #4b6cb7;
    padding: 1rem 2rem 2rem 1rem;
}


pre h2{
    font-size: 1.4rem;
    margin: 0rem 0rem;
    font-family: 'Roboto', sans-serif;
    line-height: 1.2;
    color: white;
    padding: 0rem;

}

pre code{
    background-color: black;
    display: inline-block;
    padding: 0rem 2rem;
    margin: 2rem;
    font-size: 1rem;
    line-height: 1.6rem;
}
pre div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: space-around;
}
pre li {
    margin: 1rem auto 1rem 1rem;
}


.contenido {
    max-width: 1200px;
    margin: 5rem auto 0 auto;
    color: white;
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
}
@media (max-width:560px) {
    .contenido{
        font-size: 0.5rem;
    }
    pre{
        font-size: 0.7rem;
    }
}
h1, h2 {
    font-size: 1.5rem;
    margin-left: 2rem;
    font-family: 'Roboto', sans-serif;
    line-height: 1.2;
    color: white;
    padding: 0;
}
a {
    font-size: 1.4rem;
}
p{
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    line-height: 1.2;
    margin-left: 2rem;
    color: white;
    padding: 0;
}

.practica{
    color: rgb(0, 17, 255); 
}

.hashtag {
    font-family: Arial, Helvetica, sans-serif;
}

.context{
    display: flex;
}
a{
    justify-content: space-between;
    margin: auto;
}

li a {
    display: inline;
    text-decoration: none;
    margin-left: 2rem;
}
img{
    display: block;
    text-decoration: none;
    margin-left: 5rem;
}